@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0%;
    padding: 0%;
    border: none;
}

body{
    background-color: #F5F3ED;
}

.container{
    box-sizing: border-box;
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}


/* Nav-bar */

.div-navbar{
    background-color:#57290B;    
}

.navbar{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    align-items: center;
}

.navbar-button{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 18px;
    
    border-bottom: solid 0.125rem #B2784A;
    background-color: transparent;
    color: #F0F0F0;
    padding-bottom: 0.15rem;
    cursor: pointer;
    text-decoration: none;
    
}

.navbar-button-contato{  
    display: flex;
    align-items: center;
}

.navbar-button-contato a{  
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 18px;

    padding: 0rem 0rem 0.45rem 0.45rem; 
    border: none;
    cursor: pointer;
    color: #F0F0F0;

    padding-bottom: 0.15rem;
    cursor: pointer;
    text-decoration: none;
    
}

.navbar-left-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-left: 10%;
}

.navbar-right-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    margin-right: 10%;
}

/* Header */

.div-header {
    background: no-repeat url(../static/BackGround.svg);
    background-size: cover;
    display: grid;
    grid-template-columns: 3fr 6fr;
    padding: 5% 0% 5% 5%;
}

.header-texts h1{
    font-family: "Open Sans", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 76.26px;
    text-align: left;
    color: #F0F0F0;
    
    width: 37.5rem;
}

.header-texts p{
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
    text-align: left;
    color: #F0F0F0;
    
    width: 32.5rem;

    margin-bottom: 5%;
}

.header-button{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;

    background-color: #8F542E;
    color: #F0F0F0;
    border-radius: 0.5rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.header-button:hover{
    transition: 1s;
    background-color: #CA8E67;
}

.header-button img{
    margin-left: 1rem;
}

/* Sobre Nós */

.div-sobrenos {
    display: inline-block;
    padding: 1.25rem;
}

.div-sobrenos h1{
    font-family: "Cormorant Garamond", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #1F0C00;

    padding: 2% 0 0 4.8%;
    
}

.sobrenos-body{
    display: grid;
    grid-template-columns: 0.15fr 3fr 3fr;
    justify-items: center;
}

.sobrenos-texts{
    display: flex;
    margin-right: 20%;
    padding: 0% 5% 0% 5%;
    flex-direction: column;
    justify-content: space-evenly;

}

.sobrenos-texts p{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1F0C00;

}

.sobrenos-button{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;

    background-color: #8F542E;
    color: #F0F0F0;
    border-radius: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
}

.sobrenos-button:hover{
    transition: 1s;
    background-color: #CA8E67;
}

.sobrenos-button img{
    margin-left: 3rem;
}

/* Café - Onda */

.div-cafe-onda img{
    width: 100%;
    height: 13.75rem;
    margin: 0;
}


/* Cafeteria */

.cafeteria{
    width: auto;
    height: 745px;
    background-color: #80451F;
}

.cafeteria-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }

.cafeteria-title h2{
    font-family: Cormorant Garamond;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #F0F0F0;
    padding-top: 129px;
    border-bottom: 3px solid;
    border-color: #B2784A;
}

.carrossel{
    width: 100%;
    display: inline-flex;
    padding-top: 120px;
    align-items: center;
    justify-content: center;
}

.content{
    width: 1103px;
    height: 400px;
}

.cafeteria-card{
    display: inline-block;
    background-color: #F0F0F0;
    height: 400px;
    border-radius: 10px;
    margin: 0 10px
}

.cafeteria-card img{
    margin-top: 16px;
    width: 313px;
    height: 270px;
}

.cafeteria-card h3{
    padding-top: 8px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    text-align: left;
    color: #1F0C00;
}

.cafeteria-card p{
    padding-top: 4px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #1F0C00;
    width: 313px;
}

.cafeteria-card p,  .cafeteria-card h3, .cafeteria-card img{
    margin: 0 16px;
}

.carrossel button{
    background: none;
}

.arrow-left, .arrow-right{
    display: inline-flex;
    align-items: center;
}

.arrow-left{
    padding-right: 180px;
}

.arrow-right{
    padding-left: 180px;
}

/* Contatos */

.contato{
    display: grid;
    grid-template-columns: 5fr 7fr;
    margin: 0 20% 5% 5%;
    border-radius: 0.6rem;
    box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 0.10);
    filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
}

.contato-texts h1{
    font-family: "Cormorant Garamond", serif;
    font-weight: 700;
    font-size: 40px;

    margin: 3% 0 2% 5%;

}

.contato-links{
    background-color: #8F542E;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: 0.6rem 0 0 0.6rem;
}

.contato-links p{
    font-family: "Open Sans", serif;
    font-weight: 700;
    font-size: 18px;
    color: #F0F0F0;

    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    gap: 1rem;

}

.contato-links-adress{
    border-bottom: solid 2px #B2784A;
    padding-bottom: 2rem;
}

.contato-logo{
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10rem 0 0 0;
}

.contato-forms{
    display: flex;
    flex-direction: column;
    padding: 2rem 0rem 2rem 4rem;
}

.contato-forms form{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.contato-forms label{
    font-family: "Open Sans", serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #1F0C00;
    margin: 1rem 1rem 1rem 0;

}

.contato-forms input{
    font-family: "Open Sans", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #1F0C00;
    
    width: 90%;
    height: 4.375rem;
    border: solid 1px #8F542E;
    border-radius: 0.4rem;
    outline: none;
}

#mensagem{
    height: 8.75rem;
    margin-bottom: 2rem;
    resize: none;
    outline: none;
    vertical-align: top;
    white-space: pre-wrap;
}

.contato-forms button{
    font-family: "Open Sans", serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: left;


    background-color: #8F542E;
    color: #F0F0F0;
    border-radius: 0.5rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.5rem 1rem;

    max-width: fit-content;
}

.contato-forms button:hover{
    transition: 1s;
    background-color: #CA8E67;
}

.contato-forms button img{
    margin-left: 1rem;
}

/* Footer */

.footer{
    display: flex;
    width: auto;
    height: 75px;
    background-color: #57290B;
    justify-content: space-between;
}

.footer h3{
    display: inline-flex;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #FFDAB8;
    align-items: center;
}

#footer-left{
    padding-left: 10%;
}

#footer-right{
    float: right;
    padding-right: 10%;
}

/* Menu- Mobile */

.hidden {
    display: none;
}

.menu-icon {
    display: none; /* O ícone do menu só aparece em telas pequenas */
}

.mobile-menu{
    display: none;
}

/* Contatos - Mobile */

.div-contatos-mobile{
    display: none;
}

@media (max-width: 390px) {
    
    body{
        background-color: #F0F0F0;
    }

    /* Menu - Mobile */

    .menu-icon {
        display: block;
    }
    
    .menu-button{
        background-color: transparent;
        margin: 0 1rem 0 2rem;
        cursor: pointer;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0  0 1rem 0;
        background-color: #F5F3ED;
        list-style-type:none;
    }

    .mobile-menu li{
        border-radius: 0.2rem;
        box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 0.10);
        padding: 0 0 1rem 0;
        margin: 1rem 1rem 0 1rem;
    }

    .mobile-navbar-button{
        font-family: "Open Sans", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-align: left;

        
        display: block;
        padding: 1.2rem 0 0 1rem;
        text-decoration: none;
        color: #1F0C00;

    }

    .mobile-menu{
        width: auto;
    }

    .open{
        display: block;
    }

    .navbar-left-buttons, .navbar-right-buttons {
        display: none;
    }

    .navbar{
        justify-content: flex-end;
        gap: 4rem;
    }

    /* Header - Mobile */

    .div-header{
        background: no-repeat url(../static/Header-img.svg);
        gap: 2rem;
    }

    .header-texts p{
        display: none;
    }

    .header-texts h1{   
        font-family: "Open Sans", serif;
        font-size: 28px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: 0.01em;
        text-align: left;

        width: 21.375rem;
    }

    .header-button{
        font-size: 14px;
        line-height: 24px;
    }

    /* Sobre Nós - Mobile */

    .div-sobrenos{
        width: auto;
    }

    .div-sobrenos h1{
        font-family: "Cormorant Garamond", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-align: left;

        padding: 0;
    }

    .sobrenos-body{
        grid-template-columns: 3fr;
    }

    .div-sobrenos-button{
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .sobrenos-button{
        font-size: 14px;
        line-height: 24px;
    }

    #sobrenos-xicaras{
        display: none;
    }

    .sobrenos-texts{
        margin-right: 0%;
        padding: 0% 5% 0% 0%;
        height: 30rem;
    }

    .sobrenos-texts p{
        font-family: "Open Sans", serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: 0.02em;
        text-align: left;
    }

    /* cafe-onda - mobile */

    .div-cafe-onda img{
        height: 6.872rem;
        margin: 0;
    }
    
    /* Cafeteria */

    .cafeteria{
        display: none;
    }


    /* Contato - Mobile */

    .contato{
        background-color: #F5F3ED;
        grid-template-columns: 5fr;
        margin: 5%;
    }

    .contato-links{
        display: none;
    }

    .contato-texts h1{
        font-family: "Cormorant Garamond", serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-align: left;
        margin: 1% 0 2% 5%

    }

    .contato-forms{
        padding: 2rem 0rem 2rem 2rem;
    }

    .contato-forms label{
        font-family: "Open Sans";
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .div-contatos-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 3rem 0 0 0;
    }

    .div-contatos-mobile h1{
        font-family: "Open Sans", serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 42px;
        letter-spacing: 0.02em;
        text-align: left;

    }

    .contatos-mobile-buttons{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin: 2rem 1rem 4rem 1rem;
    }

    /* Footer - Mobile */

    .footer h3{
        font-family: "Open Sans", serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.01em;
        text-align: left;
        color: #EBDACC;

    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;    
        width: auto;
        height: 75px;
        background-color: #57290B;
    }
    
    #footer-left{
        padding-left: 0%;
    }
    
    #footer-right{
        float: right;
        padding-right: 0%;
    }
}